:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container * {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

.main-container {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: linear-gradient(180deg, #ffffff, #999999);
  overflow: hidden;
}

/* CSS for Header */
.frame {
  position: relative;
  width: 100%;
  height: 101px;
  background: #f07b37;
  overflow: hidden;
}

.flex-row-b {
  position: relative;
  width: 100%;
  height: 101px;
  top: 0;
  left: 0;
  z-index: 27;
}

.frame-2 {
  position: relative;
  width: 100%;
  height: 101px;
  top: 0;
  left: 0;
  background: #f07b37;
  z-index: 27;
  overflow: hidden;
}

.flex-row-f {
  position: relative;
  width: 100%;
  height: 101px;
  top: 0;
  left: 46px;
  z-index: 45;
}

.baby-clothing-brand-logo {
  width: 168px;
  height: 101px;
  background: url(../assets/images/logo.png)
    no-repeat center;
  background-size: cover;
  z-index: 45;
}

/* CSS for Hamburger Menu */
body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle {
  display: none;
  position: relative;
  z-index: 1;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #2755eb;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #2755eb;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
              background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #2755eb;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #f07b37;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

/* Media Query for Hamburger Menu */
/* Mobile Viewport */
@media (max-width: 600px) {
  #menuToggle {
      display: block;
      position: relative;
      top: 20px;
      left: 20px;
      z-index: 1000000;
  }

  #menu {
      width: 80%;
      max-width: 300px;
      margin: -100px 0 0 -40px;
  }
}

/* Tablet Viewport */
@media (min-width: 601px) {
  #menu {
      display: none;
  }
}

/* CSS for Search bar */
.search {
  position: absolute;
  width: 1012.981px;
  height: 33px;
  top: 34px;
  left: 196px;
  z-index: 28;
}

.group-3 {
  position: relative;
  width: 979.782px;
  height: 24px;
  margin: 4px 0 0 24.023px;
  z-index: 30;
}

.component {
  position: absolute;
  width: 28.805px;
  height: 24px;
  top: 0;
  left: 950.977px;
  z-index: 32;
  overflow: hidden;
}

.search-icon {
  position: relative;
  width: 20.703px;
  height: 17.5px;
  margin: 3.25px 0 0 4.051px;
  background: url(../assets/images/e4c4952b-f38f-4564-a067-7bf658f788b2.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 33;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.search-bar input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 100%;
  max-width: 1012.981px;
  height: 33px;
  top: -28px;
  left: 0;
  padding: 7px 12px 7px 20px;
  background: #f5f5f5;
  z-index: 29;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  margin-left: 0;
  margin-right: auto;
}

::placeholder {
  color: #2755eb;
}

.shopping-cart-checkout {
  position: absolute;
  width: 15%;
  max-width: 331px;
  height: 24px;
  top: 38px;
  left: calc(85% + 20px);
  transform: translateX(-100%);
  z-index: 34;
}

.shopping-cart-checkout-5 {
  position: absolute;
  width: 34px;
  height: 24px;
  top: 0;
  left: 297px;
  z-index: 39;
}

.vector-6 {
  position: relative;
  width: 20.018px;
  height: 18px;
  margin: 3px 0 0 7px;
  z-index: 40;
}

.flex-row-bbc {
  position: relative;
  width: 21.018px;
  height: 14.156px;
  margin: -0.5px 0 0 -0.5px;
  background: url(../assets/images/7b13e776-70a2-4bc3-a5bf-4ac57d4cefe5.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 41;
}

.vector-7 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 11.556px;
  height: 1.385px;
  margin: 2.96px 0 0 5.304px;
  z-index: 43;
}

.vector-8 {
  flex-shrink: 0;
  position: relative;
  width: 2.541px;
  height: 2.385px;
  background: url(../assets/images/f04137c6-36f1-41f2-92f1-def608ad6474.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 43;
}

.cart {
  flex-shrink: 0;
  position: relative;
  width: 2.541px;
  height: 2.385px;
  background: url(../assets/images/41a4da02-7653-4346-9747-c8da09544cad.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 42;
}

.snkr {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 0;
  color: #2755eb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.364px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}

.about {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 127px;
  color: #2755eb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.364px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}

.checkout {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 222px;
  color: #2755eb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.364px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
}

.sell {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 183px;
  color: #2755eb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.364px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}

/* CSS for Nav */
.nav {
  position: relative;
  width: 100%; 
  height: 34px;
  margin: 0;
  background: #2755eb;
  z-index: 20;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
  width: 522px;
  height: 19px;
  margin: 7px 0 0 665px;
  z-index: 21;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly; 
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: inline;
}

.nav ul li a {
  position: relative;
  color: #f07b37;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  padding: 0 15px;
  transition: color 0.3s ease;
}

.nav ul li a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #f07b37;
  transform: translateX(-50%);
  transform-origin: center;
  transition: width 0.3s ease;
}

.nav ul li a:hover::after,
.nav ul li a.active::after {
  width: 100%;
}

.sole-purpose-homepage {
  position: relative;
  width: 762px;
  height: 229px;
  margin: 10px 0 0 527px;
  background: url(../assets/images/logo-extended.png)
    no-repeat center;
  background-size: cover;
  z-index: 248;
  border-radius: 5px;
}

/* CSS for Products */
.main-container h1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 409px;
  height: 57px;
  top: 147px;
  left: 52px;
  color: #2755eb;
  font-family: Jost, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 2.8px;
  z-index: 27;
}

.main-container h2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 185px;
  height: 51px;
  top: 190px;
  left: 95px;
  color: #2755eb;
  font-family: Jost, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 46.24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 2.24px;
  z-index: 28;
}

.size {
  position: absolute;
  width: 606px;
  height: 61px;
  top: 228px;
  left: 995px;
  background: #d9d9d9;
  z-index: 50;
  border-radius: 14px;
}

.size p {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 464.796px;
  height: 54px;
  top: 4px;
  left: 61.777px;
  color: #2755eb;
  font-family: Jost, var(--default-font-family);
  font-size: 36px;
  font-weight: 500;
  line-height: 52.02px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.72px;
  z-index: 51;
}

.size img {
  position: absolute;
  width: 12px;
  height: 6.58px;
  top: 28px;
  left: 565px;
  background-size: cover;
  z-index: 53;
}

.frame-41 {
  position: absolute;
  width: 811px;
  height: 481px;
  top: 232px;
  left: 98px;
  background: #ffffff;
  z-index: 54;
  overflow: hidden;
  border-radius: 6px;
}

.frame-inside {
  position: relative;
  width: 719px;
  height: 431px;
  margin: 4px 0 0 92px;
  z-index: 64;
}

.heart {
  position: absolute;
  width: 39px;
  height: 34px;
  top: 0;
  left: 675px;
  z-index: 64;
  overflow: hidden;
}

.heart img {
  position: relative;
  width: 33.294px;
  height: 25.3px;
  margin: 5.716px 0 0 2.902px;
  background-size: 100% 100%;
  z-index: 65;
}

.product-image {
  position: absolute; 
  width: 80%; 
  height: auto; 
  top: 50%; 
  left: 40%; 
  transform: translate(-50%, -50%); 
  filter: blur(5.5px); 
  z-index: 75;
}

.chevron-right {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 224px;
  left: 695px;
  z-index: 62;
}

.chevron-right img {
  position: relative;
  width: 7px;
  height: 12px;
  margin: 6px 0 0 9px;
  background-size: cover;
  z-index: 63;
}

.payment {
  position: absolute;
  width: 601px;
  height: 287px;
  top: 307px;
  left: 1000px;
  font-size: 0px;
  background: #cfcccc;
  z-index: 66;
  overflow: hidden;
  border-radius: 6px;
}

.pricing {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 409px;
  height: 57px;
  margin: 10px 0 0 100px;
  color: #2755eb;
  font-family: Jost, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 57px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.8px;
  z-index: 67;
}

.stock {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 409px;
  height: 57px;
  margin: 1px 0 0 96px;
  color: #2755eb;
  font-family: Jost, var(--default-font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 46.24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.64px;
  z-index: 68;
}

.sell-data {
  position: relative;
  width: 605px;
  height: 34px;
  margin: 22px 0 0 0;
  z-index: 70;
}

.last-sold {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 350px;
  height: 34px;
  top: 0;
  left: 0;
  color: #2755eb;
  font-family: Jost, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.48px;
  z-index: 70;
}

.market-data {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 289px;
  height: 34px;
  top: 0;
  left: 316px;
  color: #f07b37;
  font-family: Jost, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  letter-spacing: 0.48px;
  z-index: 69;
}

.shopping-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 484px;
  height: 61px;
  margin: 22px 0 0 58px;
  z-index: 74;
}

.cart {
  flex-shrink: 0;
  position: relative;
  width: 206px;
  height: 61px;
  cursor: pointer;
  font-size: 0px;
  background: transparent;
  border: none;
  z-index: 71;
  border-radius: 14px;
}

.add-to-cart {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 158px;
  height: 40px;
  margin: 11px 0 0 24px;
  color: #f07b37;
  font-family: Jost, var(--default-font-family);
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.56px;
  z-index: 73;
}

.cart-button {
  position: absolute;
  width: 206px;
  height: 61px;
  top: 0;
  left: 0;
  background: #d9d9d9;
  z-index: 72;
  border-radius: 14px;
}

.buy {
  flex-shrink: 0;
  position: relative;
  width: 206px;
  height: 61px;
  cursor: pointer;
  font-size: 0px;
  background: transparent;
  border: none;
  z-index: 74;
  border-radius: 14px;
}

.buy-now {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 158px;
  height: 40px;
  margin: 11px 0 0 24px;
  color: #f07b37;
  font-family: Jost, var(--default-font-family);
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.56px;
  z-index: 76;
}

.buy-button {
  position: absolute;
  width: 206px;
  height: 61px;
  top: 0;
  left: 0;
  background: #2755eb;
  z-index: 75;
  border-radius: 14px;
}

.product-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 48px;
  top: 723px;
  left: 153px;
  color: #2755eb;
  font-family: Jost, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 46.24px;
  text-align: left;
  white-space: nowrap;
  z-index: 138;
}

.read-more {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 736px;
  left: 374px;
  color: #f07b37;
  font-family: Jost, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 139;
}

.details {
  position: absolute;
  width: 20.75px;
  height: 18.5px;
  top: 742.75px;
  left: 477.125px;
  background-size: 100% 100%;
  z-index: 141;
}

.rectangle {
  position: relative;
  width: 1507px;
  height: 3px;
  margin: 667px 0 0 114px;
  background: #2755eb;
  z-index: 77;
}


/* CSS for table */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
}

.category-title {
  font-size: 18px;
  color: #2755eb;
  margin: 20px 0;
  font-weight: bold;
  padding: 10px;
}

.category-title span {
  float: right;
  font-size: 18px;
  color: #2755eb;
}

.category-title span:hover {
  text-decoration: underline;
  cursor: pointer;
}


table {
  width: 100%;
  border-spacing: 20px;
  border-collapse: separate;
}

table th {
  font-size: 20px;
  padding-bottom: 15px;
  text-align: left;
  color: #333;
}

table td {
  background-color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

table td:hover {
  transform: translateY(-5px);
}


.product-card img {
  max-width: 100px;
  display: block;
  margin: 0 auto 10px;
  filter: blur(5.5px); 
}

.product-card a {
  text-decoration: none;
}

.product-card .product-name {
  font-size: 16px;
  font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #2755eb;
  margin-bottom: 8px;
}

.product-card .product-price {
  font-size: 16px;
  color: #2755eb;
  margin-bottom: 5px;
  font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}

.product-card .lowest-offer {
  font-size: 12px;
  color: #666;
  font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.product-card .favorite {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #ff4500;
  font-size: 20px;
}

.product-card .favorite:hover {
  color: #ff0000;
}

/* CSS for footer */
.footer {
  position: relative;
  width: 100%;
  height: 92px;
  margin: 22px 0 0 0;
  background: #f07b37;
  z-index: 233;
  overflow: hidden;
}

.socials {
  position: absolute;
  width: 16.24%;
  height: 90.54%;
  top: 4.35%;
  left: 82.28%;
  z-index: 245;
}

.socials p{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 212px;
  height: 44px;
  top: 0;
  left: 0;
  color: #2755eb;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 24.205px;
  text-align: center;
  z-index: 235;
}

.socials .solepurpose {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 138px;
  height: 21px;
  top: 21px;
  left: 90px;
  color: #2755eb;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.943px;
  text-align: center;
  white-space: nowrap;
  z-index: 237;
}

.socials .follow {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 88px;
  height: 22px;
  top: 22px;
  left: 6px;
  color: #2755eb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 236;
}

.socials img {
  position: absolute;
  width: 5.52%;
  height: 17.31%;
  top: 29.18%;
  left: 30.51%;
  background-size: 100% 100%;
  z-index: 241;
}

.socials .solepurpose-fb {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 138px;
  height: 21px;
  top: 45px;
  left: 90px;
  color: #2755eb;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.943px;
  text-align: center;
  white-space: nowrap;
  z-index: 239;
}

.facebook {
  position: absolute;
  width: 16.3px;
  height: 16.3px;
  top: 47px;
  left: 90px;
  z-index: 242;
  overflow: hidden;
}

.facebook-logo {
  position: relative;
  width: 15.136px;
  height: 15.136px;
  margin: 1px 0 0 1px;
  z-index: 243;
}

.facebook-logo img {
  position: absolute;
  width: 104.39%;
  height: 104.39%;
  top: -3.3%;
  left: -3.3%;
  background-size: 100% 100%;
  z-index: 244;
}

.solepurpose-gmail {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 204px;
  height: 21px;
  top: 63px;
  left: 91px;
  color: #2755eb;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.943px;
  text-align: center;
  white-space: nowrap;
  z-index: 238;
}

.gmail {
  position: absolute;
  width: 16.3px;
  height: 16.3px;
  top: 67px;
  left: 90px;
  z-index: 245;
  overflow: hidden;
}

.gmail-logo {
  position: relative;
  width: 14.399px;
  height: 11.313px;
  margin: 2px 0 0 1px;
  background: url(../assets/images/gm.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 246;
}

.terms-privacy-policy-cookies {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 380px;
  height: 25px;
  top: 37px;
  left: 718px;
  color: #2755eb;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: center;
  white-space: nowrap;
  z-index: 247;
}

.sole-purpose-created-by-eldrin-pineda {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 298px;
  height: 18px;
  top: 41px;
  left: 15px;
  color: #2755eb;
  font-family: Inter, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 15.733px;
  text-align: center;
  white-space: nowrap;
  z-index: 234;
}

/* Media Query */
/* Mobile Viewport */
@media only screen and (max-width: 768px) {
  .frame {
    position: relative;
    width: 100%;
    height: 101px;
    background: #f07b37;
    overflow: hidden;
    margin-top: -30px;
  }

  .nav {
    height: auto; 
    padding: 10px; 
}

.navbar {
    flex-direction: row; 
    width: 100%;
    margin: 0; 
}

.navbar ul {
    flex-direction: row; 
    width: 100%; 
    padding: 0; 
}

.navbar ul li {
    margin: 5px 0; 
    text-align: center; 
}

.nav ul li a {
    font-size: 16px; 
    padding: 10px; 
}

.flex-row-f a{
left: 550%;
}

.baby-clothing-brand-logo {
  width: 320px;
  height: 130px;
  background-position: center;
  background-size: contain;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: -10px;
  left: -130px;
  right: 0;
}

.flex-row-f nav {
  display: none;
}


.search {
  display: none;
}

.main-container h1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 90%;
  height: auto;
  top: 10%;
  left: 5%;
  color: #2755eb;
  font-family: Jost, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1.5px;
  z-index: 27;
}

.main-container h2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 90%;
  height: auto;
  top: 13%;
  left: 5%;
  color: #2755eb;
  font-family: Jost, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1px;
  z-index: 28;
}

.frame-41 {
  width: 90%;
  height: 350px;
  top: 17%;
  left: 5%;
  border-radius: 6px;
}

.frame-inside {
  width: 100%;
  height: 390px;
  margin: 4px auto 0;

}

.heart {
  display: none;
}

.product-image {
  width: 100%;
  max-width: 80%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chevron-right {
  display: none;
}

.product-details {
    position: relative;
    height: auto;
    top: 435px;
    left: 45px;
    color: #2755eb;
    font-family: Jost, var(--default-font-family);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    white-space: normal;
    z-index: 138;
    margin-bottom: 10px;
  }

  .read-more {
    position: relative;
    height: auto;
    top: 399px;
    left: 210px;
    color: #f07b37;
    font-family: Jost, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: normal;
    z-index: 139;
  }

  .details {
    position: relative;
    width: 15px;
    height: auto;
    top: 380px;
    left: 300px;
    background-size: contain;
    z-index: 141;
  }

  .size {
    position: relative;
    width: 80%;
    height: auto;
    top: 510px;
    left: -1%;
    margin: 0 auto;
    background: #d9d9d9;
    z-index: 50;
    border-radius: 14px;
    padding: 10px;
  }

  .size p {
    display: flex;
    width: 100%;
    top: 0;
    left:-1%; 
    height: auto;
    color: #2755eb;
    font-family: Jost, var(--default-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    white-space: normal;
    letter-spacing: 0.5px;
    z-index: 51;
    padding: 5px;
  }

  .size img {
    position: relative;
    width: 12px;
    height: auto;
    margin-left: 5px;
    background-size: cover;
    z-index: 53;
    top: 0;
    left: 93%;
  }

  .payment {
    position: absolute;
    width: 80%;
    height: 215px;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    background: #cfcccc;
    z-index: 66;
    overflow: hidden;
    border-radius: 6px;
    padding: 10px;
  }

  .pricing {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 5px 0;
    color: #2755eb;
    font-family: Jost, var(--default-font-family);
    font-size: 26px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.8px;
    z-index: 67;
  }

  .stock {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    top: -25px;
    width: 100%;
    margin: 5px 0;
    color: #2755eb;
    font-family: Jost, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.64px;
    z-index: 68;
  }

  .sell-data {
    position: relative;
    width: 90%;
    margin: 5px 0;
    top: -40px;
    left: -30px;
    z-index: 70;
  }

  .last-sold {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    left: -20px;
    color: #2755eb;
    font-family: Jost, var(--default-font-family);
    font-size: 15px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.48px;
    z-index: 70;
  }

.market-data {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    top: -40px;
    left: 220px;
    color: #f07b37;
    font-family: Jost, var(--default-font-family);
    font-size: 15px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    letter-spacing: 0.48px;
    z-index: 69;
    margin-top: 5px;
  }

  .shopping-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    margin: 10px 0;
    z-index: 74;
  }

  .cart, .buy {
    flex-shrink: 0;
    position: relative;
    width: 80px;
    height: 35px;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 71;
    border-radius: 14px;
  }

  .add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 35px;
    top: -30px;
    left: -25px;
    margin: 5px;
    color: #f07b37;
    font-family: Jost, var(--default-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.56px;
    z-index: 73;
  }

  .buy-now {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 200px;
    height: 35px;
    top: -30px;
    left: 3px;
    margin: 5px;
    color: #f07b37;
    font-family: Jost, var(--default-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.56px;
    z-index: 76;
  }

  .cart-button {
    position: relative;
    width: 150px;
    height: 50px;
    top: -75px;
    left: -75px;
    background: #d9d9d9;
    z-index: 72;
    border-radius: 12px;
    margin: 5px;
  }

  .buy-button {
    position: relative;
    width: 150px;
    height: 50px;
    top: -75px;
    left: 25px;
    background: #2755eb;
    z-index: 75;
    border-radius: 12px;
    margin: 5px;
  }
  
  .rectangle {
    position: relative;
    width: 92%;
    height: 3px;
    margin: 667px 0 0 114px;
    background: #2755eb;
    z-index: 77;
    left: -95px;
  }

   
  .footer {
    height: 120px;
  }

  .socials {
    width: 100%;
    height: auto;
    top: 20%;
    left: 40%;
    z-index: 245;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .socials p {
    display: block;
    color: #2755eb;
    font-family: Inter, var(--default-font-family);
    top: 20%;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
  }

  .socials a {
    display: flex;
    align-items: center;
    margin: 10px 0;
    text-decoration: none;
    font-size: 14px;
    margin: 5px 0;
}

.socials .instagram-icon {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.socials .instagram-icon img {
    width: 16px;
    height: 16px;
    left: 70px;
    top: 35px;
}

  .socials .solepurpose,
  .socials .solepurpose-fb,
  .socials .solepurpose-gmail,
  .socials .follow {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 13px;
    color: #2755eb;
    z-index: 236;
    width: auto;
  }

  .socials img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  .gmail, .facebook {
    display: flex;
    align-items: center;
    margin-left: -20px;
    margin-top: 10px;
  }

  .terms-privacy-policy-cookies {
    width: 100%;
  height: auto;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  }

  .sole-purpose-created-by-eldrin-pineda {
    top: 100px;
    left: -8%;
    transform: translateX(0);
    font-size: 10px;
  }

}

/* Tablet Viewport */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav {
      height: auto; 
      padding: 10px; 
  }

  .navbar {
      flex-direction: row; 
      width: 100%;
      margin: 0; 
  }

  .navbar ul {
      flex-direction: row; 
      width: 100%; 
      padding: 0; 
  }

  .navbar ul li {
      margin: 5px 0; 
      text-align: center; 
  }

  .nav ul li a {
      font-size: 16px; 
      padding: 10px; 
  }

  .baby-clothing-brand-logo {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      background-position: center;
  }

 
  .search {
      width: 600px;
      top: 34px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 28;
  }

  .search-bar input {
      width: 60%;
      max-width: 400px;
      font-size: 18px;
      padding: 5px 10px;
      position: absolute;
      top: -28px;
      left: -5%;
  }

  .shopping-cart-checkout {
      position: absolute;
      width: 25%;
      max-width: 250px;
      height: 24px;
      top: 38px;
      left: calc(80% + 10px);
      transform: translateX(-100%);
      z-index: 34;
  }

  .search-icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      z-index: 35;
  }

  .footer {
      height: 150px;
  }

  .socials {
      width: 100%;
      height: auto;
      top: 20%;
      left: 70%;
      z-index: 245;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }

  .socials p {
      display: block;
      color: #2755eb;
      font-family: Inter, var(--default-font-family);
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      text-align: left;
  }

  .socials a {
      display: flex;
      align-items: center;
      margin: 10px 0;
      text-decoration: none;
  }

  .socials .instagram-icon {
      display: flex;
      align-items: center;
      margin-left: 10px;
  }

  .socials .instagram-icon img {
      width: 20px;
      height: 20px;
      left: 70px;
      top: 35px;
  }

  .socials .solepurpose,
  .socials .solepurpose-fb,
  .socials .solepurpose-gmail,
  .socials .follow {
      display: flex;
      align-items: center;
      margin: 10px 0;
      font-size: 14px;
      color: #2755eb;
      z-index: 236;
      width: auto;
  }

  .socials img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
  }

  .gmail, .facebook {
      display: flex;
      align-items: center;
      margin-left: -20px;
      margin-top: 10px;
  }

  .terms-privacy-policy-cookies {
      width: 100%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 14px;
  }

  .sole-purpose-created-by-eldrin-pineda {
      top: 50%;
      left: 1%;
      transform: translateX(0);
      font-size: 12px;
  }

 
  h1 {
    font-size: 24px;
    margin: 15px 0;
}

h2 {
    font-size: 18px;
    margin: 10px 0;
}

  .frame-41 {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    max-width: 45%;
    margin: 5px auto;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 8px;
    background: rgba(255, 255, 255, 0.9); 
}

.frame-inside {
    display: flex; 
    align-items: center; 
    position: relative; 
}

.heart {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.product-image {
    width: 50%;
    height: auto; 
    margin-left: 20px;
}

.chevron-right {
    margin-left: 10px;
}

.size {
  position: relative;
  width: 40%;
  height: auto;
  top: 100px;
  left: 29%;
  margin: 0 auto;
  background: #d9d9d9;
  z-index: 50;
  border-radius: 14px;
  padding: 10px;
}

.size p {
  display: flex;
  width: 100%;
  top: -5px;
  left: 1%;
  height: auto;
  color: #2755eb;
  font-family: Jost, var(--default-font-family);
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  z-index: 51;
  padding: 5px;
}

.size img {
  position: relative;
  width: 16px;
  top: 5px;
  left: 350px;
  height: 8.29px;
  margin-left: 10px;
  background-size: cover;
  z-index: 53;
}


.payment {
  position: absolute;
  width: 40%;
  height: auto;
  top: 20%;
  left: 79%;
  transform: translateX(-50%);
  background: #cfcccc;
  z-index: 66;
  overflow: hidden;
  border-radius: 6px;
  padding: 5px;
}

.pricing {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 110;
  margin: 5px 0;
  color: #2755eb;
  font-family: Jost, var(--default-font-family);
  font-size: 30px;
  font-weight: 600;
  line-height: 57px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.8px;
  z-index: 67;
}

.stock {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 110%;
  margin: 5px 0;
  top: -20px;
  color: #2755eb;
  font-family: Jost, var(--default-font-family);
  font-size: 23px;
  font-weight: 600;
  line-height: 46.24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.64px;
  z-index: 68;
}

.sell-data {
  position: relative;
  width: 90%;
  margin: 5px 0;
  z-index: 70;
}

.last-sold {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 60%;
  top:-40px;
  color: #2755eb;
  font-family: Jost, var(--default-font-family);
  font-size: 15px;
  font-weight: 600;
  line-height: 34px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.48px;
  z-index: 70;
}

.shopping-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: auto;
  margin: 10px 0;
  z-index: 74;
}

.cart, .buy {
  flex-shrink: 0;
  position: relative;
  width: 100px;
  height: 35px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 71;
  border-radius: 14px;
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -80%;
  width: 50px;
  height: 35px;
  margin: 5px;
  color: #f07b37;
  font-family: Jost, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.56px;
  z-index: 73;
}

.buy-now {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -80%;
  width: 250px;
  height: 35px;
  margin: 5px;
  color: #f07b37;
  font-family: Jost, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.56px;
  z-index: 76;
}

.cart-button {
  position: relative;
  width: 160px;
  height: 50px;
  top: -215%;
  left: -60%;
  background: #d9d9d9;
  z-index: 72;
  border-radius: 12px;
  margin: 5px;
}

.buy-button {
  position: relative;
  width: 160px;
  height: 50px;
  top: -215%;
  left: 40%;
  background: #2755eb;
  z-index: 75;
  border-radius: 12px;
  margin: 5px;
}

.market-data {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top:-80px;
  width: 5%;
  color: #f07b37;
  font-family: Jost, var(--default-font-family);
  font-size: 15px;
  font-weight: 600;
  line-height: 34px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  letter-spacing: 0.48px;
  z-index: 69;
  margin-top: 5px; 
}

.rectangle {
  position: relative;
  width: 80%;
  height: 3px;
  margin: 667px 0 0 114px;
  background: #2755eb;
  z-index: 77;
}
  
}


